body{
     overflow-x: hidden;
     font-family: sans-serif;
     padding: 0;
     padding-top: 5%;
     margin: 0 auto;
     background: #F0A918;
     width: 100%;
     font-family:"Comic Sans MS";
}
html {
  scroll-behavior: smooth;
}
.navbar,.navbar-expand-lg,.navbar-dark,.bg-dark{
     background: black;
     color: chartreuse;
     width: 100%;
     z-index: 1;
}
.nav-link{
     color: chartreuse;
     margin-left: 30px;
     border-bottom: 3px solid purple;
}
a, .navbar-brand, .nav-item, .navbar-nav {
     color: chartreuse;
}
.nav-item:hover, .nav-link:hover {
     transition: all 0.2s;
     color: #F0A918;
     font-size: 1.1rem;
     border-bottom: 5px solid purple;
}
img{
     margin:14%;
     padding-left: 2%;
     width: 40vw;
     height: 40vh;
}
p{
	 font-family:"Comic Sans MS";
     cursor: text;
     padding-bottom: 2%;
}
h1{
     cursor: pointer;
     font-size: 35px;
     text-align: center;
}
p{
     cursor: pointer;
}
.footer {
     background: rgba(0, 0, 0, 0.3);
     font-family: "Comic Sans MS";
     font-size: 17px;
     color: chartreuse;
     width: 100%;
     position: fixed;
     text-align: center;
     bottom: 0;
}
.gallery{
     border: 10px solid purple;
     text-align: center;
     margin: 15px;
     background-color: floralwhite;
}
.container {
     color: chartreuse;
     text-align: left;
     display: inline-block;
     position: relative;
     left: 35%;
}
label{
     text-align: right;
	width:120px;
	font-size:20px;
	text-align: left;
}
input{
     vertical-align: top;
	font-size:20px;
	width:300px;
}
textarea{
     vertical-align: top;
	font-size:20px;
	width:305px;

}
.button{
     position: relative;
     left: 35%;
     width: 100px;
	text-decoration:none;
	border: 5px solid purple;
	border-radius:20px;
	background-color: chartreuse;
	font-weight:100;
	padding:10px;
	transition:all 0.5s ease 0;
	display:inline-block;
}
.button:hover {
     transition: all 0.2s;
     border-radius:22px;
     width: 105px;
     font-size: 1.3em;
     border: 7px solid purple;
     background-color:  #F0A918;
}
h2 {
     cursor: pointer;
     font-weight: bold;
     border-top: 3px solid purple;
     text-decoration: underline purple;
}
h1{
     text-decoration: underline purple;
     font-size: 2.7em;
}
.connectUs {
     width: 100%;
     padding-left: 50px;
     padding-top: 15px;
     background: black;
     color: chartreuse;
     margin: 0;
}
.about, .big, .arc, .con {
     padding-left: 10px;
     padding-right: 10px;
}
.no{
     text-decoration: none;
     border-bottom: 3px solid purple;
}
.nav{
     z-index: 10;
}
span,.navbar-toggler-icon {
     color: chartreuse;
}
b{
    padding-bottom: 5px;
    border-bottom: 3px solid purple;
}
header{
     z-index: 1;
     top: 0;
     position:fixed;
     background: rgba(240,169,24,.6);
     width: 100%;
     bottom: purple;
}